{% extends "base.html" %}

{% block content %}
  <h3>Appointments</h3>
  <hr>
  {% if appointments %}
      {% for appointment in appointments %}
        <div class="row">
            <div class="col">
                <h5>Appointment for {{ appointment.pet.pet_name }}</h5>
                <p>{{ appointment.duration_minutes }} minutes long.</p>
                <h6>Special instructions</h6>
                <p>{{ appointment.special_instructions }}</p>
            </div>
        </div>
      {% endfor %}
  {% else %}
    <div class="alert alert-primary" role="alert">No appointments to display.</div>
  {% endif %}
  {% if request.user.is_authenticated %}
  <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit">
  </form>
  {% endif %}
{% endblock %}